
.titles{
    text-align: center;
    color: red;
}
.subtitles{
    text-align: center;
    color: blue;
}
.img{
    text-align: center; 
}

.texto{
    color: black;
    text-align: center;
}
