*{
    margin:0 auto;
    padding: 0;
    box-sizing: border-box;
}

.corpo{
    border: 2px solid black;
    height: 600px;
}
.title{
    height: 10%;
    border: 1px solid black;
}


    
.cols{
    border: 1px solid  black;
    float: left;
    
}
#coluna1{
    
    border: 1px solid black;
    width: 60%;
    height: 90%;
}
#coluna2{
    height: 90%;
    border: 1px solid black;
    width: 40%;
}
#coluna3{
    border: 1px solid black;
    height: 90%;
    width: 50%;
    text-align: center;
}
#coluna4{
    border: 1px solid black;
    height: 90%;
    width: 50%;
    text-align: center;
}
#infPrin{
    border: 2px solid black;
    height: 100%;
    text-align: center;
}


.links{
    border: 4px solid black;
    text-align: center;
}

.titles{
    text-align: center;
    color: red;
}
.subtitles{
    text-align: center;
    color: blue;
}

.texto{
    color: black;
    text-align: center;
}